.footer {
    margin-top: 2rem;
    background-color: #5670ff;
    padding: 2rem;
    padding-bottom: 1rem;

    ul {
        text-align: center;

       a {
        color: white;
       }
    }

    &--copy-right-text {
        text-align: center;
        margin-top: 2rem;
        color: white;
    }
}