.station-details-page {
  padding: 1rem 2rem;
  margin: 2rem 0rem;

  &--info {
    font-size: 18px;

    li {
      margin-top: 8px;
      font-weight: 500;
    }
  }

  &--info-2 {
    font-size: 18px;

    li {
      margin-top: 8px;
      font-weight: 400 !important; 
    }

    &--top-station-name {
      display: flex;
      gap: 12px;
      overflow: auto;
      li {
        list-style: decimal;
        margin-left: 1rem;
        padding: 8px;
      }
    }
  }
}