body {
    margin: 0;
    padding: 0;
}
#map {
    position: absolute;
    top: 10;
    bottom: 10;
    width: 100%;
}

.d-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#instructions {
    position: absolute;
    margin: 20px;
    width: 15%;
    top: 0;
    bottom: 20%;
    padding: 40px;
    background-color: #fff;
    overflow-y: scroll;
    font-family: sans-serif;
}